*{
padding: 0%;
margin: 0%;
box-sizing: border-box;

}

body{
    width: 100%;
    overflow-x: hidden;

}

.container{
    width: 100%;
    padding: 30px;
    background: #e88d0f;
    color: #fff;
    

}

  h1{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

  p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}


.second{
    width: 100%;
    padding: 30px;
    background: #ec6d18;
    color: #fff;
}




